@use "../utils/mixins" as mixin;
@use "../utils/variables" as var;
@use "../base/typography";

.container1 {
  max-width: 1130px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.container2 {
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
