@use "../global";
@use "../utils/variables" as var;
@use "../base/typography";
@use "../utils/mixins" as mixin;

main {
  font-family: Rubik;
  margin-top: 105px;
  background-color: hsl(48, 65%, 95%);
}

.contacts {
  padding-top: 40px;
  min-height: 40vh;
  a {
    color: #414141;
    font-size: 16px;
    font-weight: 400;
    margin-left: 5px;
    margin-right: 5px;
  }
  h1 {
    @media (max-width: 588px) {
      font-size: 32px;
    }
    color: #414141;
    font-size: 56px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 30px;
  }
  .destin {
    @media (max-width: 495px) {
      flex-direction: column;
    }
    @include mixin.df(start, center, row);
    .des {
      @media (max-width: 495px) {
        width: 100%;
        margin-bottom: 30px;
      }
      @include mixin.df(center, center, row);
      h4 {
        color: #414141;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 13px;
        margin-left: 15px;
      }
      p {
        color: #414141;
        font-size: 20px;
        font-weight: 700;
        text-decoration-line: underline;
        margin-left: 15px;
      }
      &:first-child {
        padding-right: 50px;
      }
    }
  }
}

.shops {
  margin-top: 20px;
  h1 {
    @media (max-width: 360px) {
      margin-bottom: 10px;
      font-size: 24px;
    }
    color: #414141;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 55px;
  }
  .ap-tab {
    margin-bottom: 50px;
    .ap-tab-list {
      @media (max-width: 630px) {
        overflow: scroll;
        padding: 10px;
      }
      // flex-wrap: wrap;
      .ap-tab-link {
        @media (max-width: 630px) {
        }
        padding: 10px 30px;
        background-color: white;
        margin-bottom: 20px;
        color: #606060;
        text-align: center;
        border-radius: 5px;
        font-size: 16px;
        transition: 0.5s;
        font-weight: 400;
        &:hover {
          background-color: #70c05b;
          color: white;
          border-radius: 5px;
        }
      }
    }
  }
  .dess {
    @media (max-width: 1150px) {
      width: 100%;
    }
    width: 70%;
    flex-wrap: wrap;
    @include mixin.df(space-between, center, row);
    .dest {
      @media (max-width: 865px) {
        width: 33%;
        margin-bottom: 20px;
      }
      @media (max-width: 595px) {
        width: 50%;
        margin-bottom: 20px;
      }
      @media (max-width: 395px) {
        width: 100%;
        margin-bottom: 20px;
      }
      img {
        margin-bottom: 20px;
      }
      .place {
        @include mixin.df(space-between, center, row);
        margin-bottom: 15px;
        p {
          @media (max-width: 865px) {
            margin-right: 60px;
          }
          color: #414141;
          font-size: 18px;
          font-weight: 400;
          margin-left: 10px;
        }
        h5 {
          @media (max-width: 865px) {
            margin-right: 70px;
          }
          color: #414141;
          font-size: 18px;
          margin-left: 10px;
          font-weight: 400;
          text-decoration-line: underline;
        }
      }
    }
  }
  .ap-tab-container {
    margin-top: 30px;
    padding-bottom: 50px;
  }
}
