@use "../global";
@use "../utils/variables" as var;
@use "../base/typography";
@use "../utils/mixins" as mixin;

main {
  font-family: Rubik;
  margin-top: 105px;
  background-color: hsl(48, 65%, 95%);
}

.txt {
  padding-top: 40px;
  .t-wrap {
    @include mixin.df(start, center, row);
    margin-bottom: 30px;
    a {
      color: #414141;
      font-size: 16px;
      font-weight: 400;
      margin-left: 8px;
      margin-right: 8px;
    }
  }
  h1 {
    @media (max-width: 360px) {
      margin-bottom: 5px;
      font-size: 24px;
    }
    color: #414141;
    padding-bottom: 40px;
    font-size: 56px;
    font-weight: 700;
  }
}

.cart-column {
  .m-left {
    padding-bottom: 50px;
    .cart-card {
      padding: 15px;
      width: 65%;
      margin-bottom: 15px;
      @include mixin.df(space-between, center, row);
      background-color: white;
      .left {
        @include mixin.df(start, center, row);
        .bottom {
          margin-left: 10px;
          h3 {
            color: #414141;
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 10px;
          }
          .pr {
            @include mixin.df(start, center, row);
            p {
              color: #414141;
              font-size: 14px;
              margin-right: 5px;
              font-weight: 700;
            }
          }
        }
      }
      .right {
        @include mixin.df(start, center, row);
        button {
          color: #fff;
          background-color: #70c05b;
          font-size: 17px;
          font-weight: 400;
          padding: 10px;
        }
        .f {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }
        .s {
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }
        span {
          color: #fff;
          background-color: #70c05b;
          padding: 10px;
          font-size: 17px;
          font-weight: 400;
        }
        h4 {
          color: #414141;
          font-size: 18px;
          margin-left: 30px;
          font-weight: 700;
        }
      }
    }
  }
}
